@import 'tailwindcss';

@theme {
  --color-primary: #131417;
  --color-secondary: #1e1f25;
  --color-tertiary: #2f2f2f;
  --color-success: #70cc7c;
}

.container {
  @apply mx-auto px-4 md:px-8;
}

body {
  background-color: #2b2c35;
  background-color: black;
}

button {
  cursor: pointer;
}
