@import 'tailwindcss';

@theme {
  --color-primary: #131417;
  --color-secondary: #1e1f25;
  --color-tertiary: #2f2f2f;
  --color-success: #70CC7C;
}

body {
  background-color: black;
}

button {
  cursor: pointer;
}
